// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #1C1C1C;
}

.logo img {
  width: 60px;
}

.jumbo {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

.card img {
  max-height: 200px;
  object-fit: cover;
  object-position: top;
}

.nav-img {
  object-fit: cover;
  width: 60px;
}

.nav-img img {
  max-width: 60px;
  max-height: 60px;
}

.footer-nav {
  background-image: url('../img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}